:root{
    --bodyBackgroundColor: rgb(245, 251, 169);
    --mainBackgroundColor: rgb(253, 253, 235);
    --secondaryBackgroundColor: rgb(220, 220, 53);
    --mainTextColor: black;
    --secondaryTextColor: rgb(122, 122, 37);
    --profileImgBorder: rgb(140, 140, 58);
    --nameColor: white;
    --bodyTitle: rgb(132, 132, 30);
    --bodyDetails: rgb(171, 171, 83);
    --experienceTitleColor: rgb(168, 168, 96);
    --progressBackgroundColor: rgba(246, 246, 175, 0.62);
    --themeDotBorder: black;
}